name = "fvtt-cf-proxy"
main = "src/index.ts"
compatibility_date = "2024-01-01"
workers_dev = true

[[routes]]
pattern = "cors-proxy.artificery.io"
custom_domain = true

[observability]
enabled = true

[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
